body {
  box-sizing: border-box;
  margin: 10px;
  background-color: lightblue;
  display: flex;
}

.main-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
