body {
  box-sizing: border-box;
  margin: 10px;
  background-image: url('../src/assets/snowy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
