body {
  box-sizing: border-box;
  margin: 10px;
  background-image: url('../src/assets/snowy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: row;
  flex: 1;
}
